# LLM 配置 (OpenAI 兼容接口)
LARGE_LLM_API_KEY=your_large_model_api_key_here
LARGE_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LARGE_LLM_MODEL=qwen3.5-plus

SMALL_LLM_API_KEY=your_small_model_api_key_here
SMALL_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
SMALL_LLM_MODEL=qwen3.5-flash

EMBEDDING_API_KEY=your_embedding_api_key_here
EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
EMBEDDING_MODEL=text-embedding-v4


# 系统运行参数
HEARTBEAT_INTERVAL=10 # 心跳间隔，单位为秒
START_TIME=# 系统启动时间，ISO 8601格式，留空会自动设置为系统启动时的当前时间，建议留空

# 状态管理
TIME_ACCEL_FACTOR=1.0 # 时间加速因子，1.0表示正常时间流逝，2.0表示时间流逝加快一倍
STATE_IDLE_MIN_TIMEOUT=30 # 空闲状态最小超时时间，单位为秒
STATE_IDLE_MAX_TIMEOUT=3600 # 空闲状态最大超时时间，单位为秒
CONTEXT_WINDOW_SIZE=20 # 上下文窗口大小，单位为消息条数

# pg数据库管理
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=your_password
PG_DB=ember_db

# 记忆相关参数
MEMORY_DECENT_FACTOR=0.5 # 记忆衰减因子，范围为0到1，值越大记忆衰减越快
RECALL_TOP_K=10 # 回忆时检索的最相关记忆条数
