# LLM 配置 (OpenAI 兼容接口)
LARGE_LLM_API_KEY=your_large_model_api_key_here
LARGE_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LARGE_LLM_MODEL=qwen3.5-plus

SMALL_LLM_API_KEY=your_small_model_api_key_here
SMALL_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
SMALL_LLM_MODEL=qwen3.5-flash

EMBEDDING_API_KEY=your_embedding_api_key_here
EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
EMBEDDING_MODEL=text-embedding-v4


# 系统运行参数
HEARTBEAT_INTERVAL=10 # 心跳间隔，单位为秒
TIME_ACCEL_FACTOR=1.0 # 时间加速因子，1.0表示正常时间流逝，2.0表示时间流逝加快一倍
START_TIME=2024-09-01 08:00:00 #留空会使用启动时的时间


# 状态管理
STATE_IDLE_MIN_TIMEOUT=30 # 空闲状态最小超时时间，单位为秒
STATE_IDLE_MAX_TIMEOUT=3600 # 空闲状态最大超时时间，单位为秒
CONTEXT_WINDOW_SIZE=20 # 上下文窗口大小，单位为消息条数
